body {
    background-color: #f2ebe3;
    display: flex;
    justify-content: center;
}

.parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    margin: 15px


}

#img_pr {
    object-fit: cover;
    height: 408px;
    border-radius: 10px 0px 0px 10px;
    width: 350px;
    overflow: hidden;


}

.content {
    background-color: white;
    flex: 1;
    padding: 15px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 0px 10px 10px 0px;
}

.parent h2 {
    opacity: 25%;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 80%;
    letter-spacing: 2px;
    display: grid;


}

.parent h1 {
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-style: normal;


}

.parent p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    opacity: 75%;
}

.price_tag {
    display: flex;
    align-items: center;

}

#new_price {
    font-size: 30px;
    color: #3c8167;
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-style: normal;
    padding-right: 15px;
    opacity: 100%;
}

#old_price {
    font-family: "Fraunces", serif;
    font-weight: 500;
    font-style: normal;
    padding-right: 10px;
    text-decoration: line-through;
    opacity: 50%;
}

.butn {
    display: grid;
    place-content: center;
    margin-bottom: 1rem;
}

#btn {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: #3d8168;
    color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#btn:hover {
    cursor: pointer;
    background-color: #1a4031;
}

@media (max-width: 600px) {
    .parent {
        flex-direction: column;
        max-width: 350px;
    }

    #img_pr {
        object-fit: cover;
        height: 200px;
        border-radius: 10px 10px 0px 0px;
        width: 350px;
        overflow: hidden;

    }

    .content {
        border-radius: 0px 0px 10px 10px;
    }
}
