
* {

    font-family: "Britannic Bold";
    color: #333333;
}

body {
    background-color: #f2ebe3;
    border-style: solid;
    display: grid;
    place-content: center;
    min-height: 100vh;
    margin: 2rem;
}

#img_pr {
    width: 250px;
    height: auto;

}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.parent h2 {
    opacity: 25%;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;


}

.parent h1 {
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-style: normal;


}

.parent p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}

.price_tag {
    display: flex;
    align-items: center;
}

#new_price {
    font-size: 45px;
    color: #3c8167;
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-style: normal;
    padding-right: 10px;
}

#old_price {
    font-family: "Fraunces", serif;
    font-weight: 500;
    font-style: normal;
    padding-right: 10px;
    text-decoration: line-through;
}

.butn {
    display: grid;
    place-content: center;
    margin-bottom: 1rem;
}

#btn {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: #3d8168;
    color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;


}

#btn:hover {
    cursor: pointer;
    background-color: #1a4031;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;

}

.parent h2 {
    display: grid;

}

.content {
    background-color: white;
    margin: 1rem;
    border-radius: 10px;
}



