
* {
    font-family: "Britannic Bold";
}

body {

    background-color: #f2ebe3;
    display: grid;
    place-content: center;
    min-height: 100vh;
    border-width: 1rem;

}

.img {
    width: 101%;
    height: auto;
    overflow: hidden;
    vertical-align: top;

}

#img_pr {
    width: 100%;
    display: grid;
    place-content: center;
    border-radius: 20px;
    height: auto;
    object-fit: contain;

}


.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 16px 24px 16px;
    flex-direction: column;
    max-width: 500px;
    background-color: #3c8167;
}

.content {
    display: flex;

    background-color: red;
}

.parent h2 {
    opacity: 25%;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 80%;
    letter-spacing: 2px;
    display: grid;
    color: black;

}

.parent h1 {
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-style: normal;
    color: black;


}

.parent p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: black;
}

.price_tag {
    display: flex;
    align-items: center;
}

#new_price {
    font-size: 30px;
    color: #3c8167;
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-style: normal;
    padding-right: 10px;
}

#old_price {
    font-family: "Fraunces", serif;
    font-weight: 500;
    font-style: normal;
    padding-right: 10px;
    text-decoration: line-through;
    opacity: 50%;
}

.butn {
    display: grid;
    place-content: center;
    margin-bottom: 1rem;
}

#btn {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: #3d8168;
    color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;


}

#btn:hover {
    cursor: pointer;
    background-color: #1a4031;
}


@media (min-width: 300px) {
    #img_pr {
        object-fit: cover;
        height: 300px;
    }

}

